* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('tontito.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.5em;
}

.glass-card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 28px;
  min-width: 280px;

  background: rgba(255, 255, 255, 0.12);
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;

  backdrop-filter: blur(12px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.glass-card input {
  padding: 10px 14px;
  font-size: 16px;

  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;

  color: white;
  outline: none;
}

.glass-card button {
  padding: 10px;
  border-radius: 12px;
  border: none;

  background: rgba(56, 189, 248, 0.85);
  color: black;

  font-weight: 600;
  cursor: pointer;
}

.glass-card button:hover {
  background: rgba(56, 189, 248, 1);
}

.glass-card p {
  font-size: 18px;
  text-align: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}
.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;

}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}